{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1>Welcome to the Spoiler detector</h1>

<form action="" method="post">
<select name= "colours">
    {% for colour in colours %}
    <option value= "{{colour}}" SELECTED>{{colour}}</option>"
    {% endfor %}
</select>

</form>

	<form action="" method="post">
		<p>
			{{form.movie.label}}<br>
			{{form.movie(size=100)}}
		</p>
		<p>
			{{form.movieTitle.label}}<br>
			{{form.movieTitle(size=100)}}
		</p>
		<p>
			{{form.submit()}}
		</p>
	</form>


</div>
{% endblock %}
