body{
    background: dimgray;
}

.header_pic{
    background: black;
    alignment: center;
    margin: auto;
    width: 100%;
}
.header_pic img{
    margin-left: 30%;
    margin-right: 30%;
}
.container{
    background: black;
    width: 80%;
    min-height: 400pt;
    margin-top: 5pt;
    margin-right: auto;
    margin-left: auto;
}
.container form{
    margin: auto;
    text-align: center;
}
.container h1{
    color: antiquewhite;
    padding-top: 50pt;
    margin: auto;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}
.container p {
    padding-top: 50pt;
    margin: auto;
    color: bisque;
    font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;

}
table {
    color: bisque;
}
